h2{
    color: red;
}
#leftHeaderPart {
    width: 20%;
    float: left;
    margin: 15px;
    
}
#rightHeaderPart {
    width: 75%;
    float: left;
    text-align: right;
}
ul{
    display: inline-block;
    margin: 0px;
}
ul .item {
    display: inline-block;
    margin: 15px;
}
 ul .item span {

 }
 .content-part .banner-img{
    width: 100%;
    height: 300px;

 }
 header{
    height: 50px;
    background-color: #007480;
    color: #fff;
 }
 .four-blocks{
     width: 80%;
     margin: auto;
     height: 215px;
     background: #ddd;
 }
 .four-blocks .item{
    width: 20%;
    float: left;
    margin: 0 20px;
 }
 .four-blocks .item h3{
    text-align: center;
    color: red;
 }
 .four-blocks .item p{
     text-align: justify;
 }
 .parent{
    position: relative;
    width: 300px;
    text-align: center;
    height: 300px;
 }
 .baap .beta{
    position: absolute;
    bottom: 5px;
    left: 5px;
 }
 /* login-block */
 .login-block {
     width: 50%;
     margin: auto;
     height: 300px;
     background-color: aquamarine;
     padding: 20px;
 }
 .login-block h3{
     text-align: center;
 }
 .login-block .login{
    margin-top: 40px;
 }
 .login-block .login .form-group{
     margin-bottom: 15px;
 }
 .login-block .login .btn{
    background-color: bisque;
    color: #000;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
 }